<launch>
    <!-- WBC admitance stack should be started separately ? -->
    <include file="$(find reemc_wbc_tutorials)/launch/reemc_admitance.launch"/>

    <include file="$(find move_by_ft_wrist)/launch/marker_detector_right.launch"/>

    <node pkg="move_by_ft_wrist" type="aruco_pose_filter.py" name="aruco_pose_filter_demo" >
        <rosparam file="$(find move_by_ft_wrist)/config/aruco_pose_filter_demo.yaml"/>
    </node>

    <include file="$(find reemc_controller_configuration)/launch/hey5_controller.launch" />


  <node name="joint_trajectory_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="head_controller" />


  <!-- Point head action -->
  <group ns="head_controller">
    <node name="point_head_action" pkg="head_action" type="head_action" output="screen" >
      <rosparam>
        pan_link:  head_1_link
        tilt_link: head_2_link
        success_angle_threshold: 0.01
      </rosparam>
    </node>
  </group>


</launch>